.homeHeader
  height 48px
  background red
  display flex
  align-items center
  color #FFFFFF
  text-align center
  .city
    flex 1
  .search
    flex 4
    background #FFFFFF
    border-radius 6px
    height 25px
    display flex
    align-items center
    input
      outline-style none
    i
      color #000000
      margin 0 5px
  .profile
    flex .5