.swiper
  .lists
    display flex
    flex-wrap wrap
    li
      display flex
      flex-direction column
      width 20%
      line-height 25px
      text-align center
      i
        font-size 20px
  .dots
    display flex
    justify-content center
    li
      width 10px
      height 10px
      border-radius 5px
      background #666
      margin 15px 5px 15px 0
      &.active
        background red
