.info
  display flex
  flex-direction column
  padding 10px
  line-height 30px
  .detail
    display flex
    padding-bottom 10px
    margin-bottom 10px
    border-bottom 1px solid #eee
    img
      width 130px
      height 100px
      margin-right 10px
    .star
      display flex
      justify-content space-between